{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
    <h2>{{company}}</h2>
    <table class="table">
        <thead>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Dates</th>
            <th scope="col">Price</th>
        </thead>
        <tbody>
            {% for reservation in reservation_list %}
                <tr>
                    <th scope="row">{{reservation.id}}</th>
                    <td>{{reservation.user}}</td>
                    <td>{{reservation.dates}}</td>
                    <td>{{reservation.price}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
